@import "../header/header.scss";
@import "../footer/footer";
@import "../sales-regions/sales-regions.scss";

.buy-sea-container {
  background-image: url("/public/assets/image/Rectangle_166.jpg");
  min-height: 44.88rem;
}
.row-navigation {
  padding: 2.9rem 0rem 0rem 0.5rem;
}
.navigation-link-text,
.navigation-link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 160%;
  color: $color-white;
  text-decoration: none;
}
.navigation-link.active {
  color: $color-oranges;
}
.row-buy-sea-container {
  padding: 0rem 0rem 0rem 1.2rem;
}
.buy-sea-container-title {
  padding: 3.1rem 0rem 0rem 0rem;
  font-family: $font-family;
  font-weight: 700;
  font-size: 4rem;
  line-height: 123%;
  letter-spacing: 0.1rem;
  color: $color-white;
}
.buy-sea-container-title-city {
  color: $color-oranges;
}
.buy-sea-container-text {
  padding: 2rem 1rem 0rem 0rem;
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0.034rem;
  color: $color-white;
}
.btn-title {
  margin-top: 1.5rem;
}
.col-catalog {
  padding: 6.3rem 0rem 4.7rem 1.3rem;
}
.catalog-text {
  font-size: 3rem;
  letter-spacing: 0.04em;
}
.row-containers-city {
  padding: 6.3rem 0rem 5rem 1.3rem;
}
.container-city-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 3rem;
  line-height: 123%;
  letter-spacing: 0.046em;
  color: $color-half-black;
}
.container-city-title-target {
  color: $color-oranges;
}
.container-city-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 123%;
  color: $color-half-black;
  margin-bottom: 1.3rem;
  letter-spacing: 0.003rem;
}
.col-container-city-text {
  padding-top: 2rem;
  padding-right: 2rem;
}
.container-city-list {
  padding-left: 0rem;
}
.container-city-list li {
  list-style-type: none;
}
.container-city-list li::before {
  color: $color-oranges;
  content: "•";
  padding-right: 5px;
}
.sale-sea-containers-city-col-img {
  max-width: 25rem;
  max-height: 39.75rem;
  margin-left: 0.8rem;
}
.sale-sea-containers-city-img {
  width: 100%;
}
.company-services-container {
  padding: 6.2rem 0rem 6.3rem 1.2rem;
}
.btn-up-link {
  right: 11.9rem;
}
