@import "../header/header.scss";
@import "../footer/footer";

.row-bid-title {
  padding: 3.9rem 0rem 0rem 0.6rem;
}
.bid-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 4rem;
  line-height: 123%;
  color: $color-black;
  letter-spacing: 0.15rem;
}
.bid-title-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-black;
  letter-spacing: 0.032rem;
  padding: 0.9rem 0rem 0rem 0.6rem;
}
.col-bid-form {
  margin: 2rem 0rem 0rem 0rem;
  border-left: unset;
}
.bid-input {
  padding-left: 1.2rem;
  padding-right: 23.6rem;
}
.row-bid-container-size {
  padding: 2.5rem 0.5rem 0rem 0.5rem;
}
.row-bid-container-size-lable {
  font-family: $font-family;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 140%;
  color: #0f1523;
  margin-bottom: 0.5rem;
}
.bid-container-size-button {
  row-gap: 1rem;
}
.btn-size-container {
  border: 1px solid #d0d3d9;
  background-color: unset;
  border-radius: 0.25rem;
  width: 11.25rem;
  height: 3.38rem;
}
.btn-size-container.selected {
  border: 1px solid $color-oranges;
}
.bid-textarea {
  padding: 1rem 0rem 2.8rem 1.2rem;
}
.col-message-button {
  padding: 2.4rem 0rem 6.2rem 0rem;
}
.bid-text-agreement {
  padding: 0;
}
.bid-button {
  margin: 0;
}
@media (max-width: 850px) {
  .bid-input {
    padding-left: 1.2rem;
    padding-right: 0rem;
  }
}
