<div class="container-fluid">
  <div class="container">
    <div class="row row-subscription">
      <div class="col-8 col-subscription">
        <div class="col-footer-title">
          <h2 class="footer-title">Подпишитесь на наши новости</h2>
        </div>
        <div class="col-mail-subscription d-flex flex-row flex-wrap">
          <input type="text" class="form-control-email" placeholder="E-mail" />
          <button
            type="submit"
            class="btn btn-primary btn-order d-flex justify-content-center align-items-center footer-btn"
          >
            Подписаться
          </button>
        </div>
        <div class="col-check-agreement d-flex align-items-center">
          <input type="checkbox" id="agree" class="footer-agree-check" />
          <label for="agree" class="footer-agree-label"
            >Согласен(на) на обработку персональных данных</label
          >
        </div>
      </div>
      <div class="col-4 footer-col-img">
        <img
          class="footer-img-container"
          alt="Контейнер"
          src="./assets/image/image 62.png"
        />
      </div>
    </div>
    <div class="row row-footer-navigation d-flex flex-row flex-wrap">
      <div class="col-4 col-footer-heavybox d-flex flex-column">
        <div class="col-footer-logo">
          <img src="./assets/image/logo.svg" alt="Heavy box" />
        </div>
        <div>
          <p class="footer-text-heavybox">
            Компания Heavy-Box специализируется на продаже морских контейнеров.
          </p>
        </div>
      </div>
      <div class="col-8 d-flex flex-row flex-wrap col-navigation">
        <div class="col-2 col-footer-list">
          <p class="footer-list-title">Каталог</p>
          <ul class="list-footer d-flex flex-column">
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
            <li><a class="list-footer-cell-text" href="#">10 футов</a></li>
          </ul>
        </div>
        <div class="col-2 col-footer-list">
          <p class="footer-list-title">Для клиента</p>
          <ul class="list-footer d-flex flex-column">
            <li><a class="list-footer-cell-text" href="#">О нас</a></li>
            <li>
              <a class="list-footer-cell-text" href="#">Доставка и оплата</a>
            </li>
            <li>
              <a class="list-footer-cell-text" href="./blog.html">Блог</a>
            </li>
            <li><a class="list-footer-cell-text" href="#">Контакты</a></li>
            <li><a class="list-footer-cell-text" href="#">Гарантии</a></li>
          </ul>
        </div>
        <div class="col-2 col-footer-list">
          <p class="footer-list-title">Контакты</p>
          <ul class="list-footer d-flex flex-column">
            <li class="list-footer-cell d-flex flex-row align-items-center">
              <div>
                <img alt="Телефон" src="./assets/image/smartphone1.svg" />
              </div>
              <div>
                <a class="list-footer-cell-text" href="tel:+78006003556"
                  >8 (800) 600-35-56</a
                >
              </div>
            </li>
            <li class="list-footer-cell d-flex flex-row align-items-center">
              <div>
                <img alt="Стрелка" src="./assets/image/navigation1.svg" />
              </div>
              <div>
                <span class="list-footer-cell-text"
                  >г. Тольятти, ул.<br />Юбилейная, 29</span
                >
              </div>
            </li>
            <li class="list-footer-cell d-flex flex-row align-items-center">
              <div><img alt="Письмо" src="./assets/image/mail1.svg" /></div>
              <div>
                <a
                  href="mailto:info@heavybox.ru"
                  class="list-footer-cell-text"
                  href="#"
                  >info@heavybox.ru</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-copyright">
        <span class="copyright">© 2018 Heavy-Box </span
        ><a href="#" class="user-greement">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</div>
