@use "bootstrap/scss/bootstrap";
@import "./components/header/header";

.title-page {
  padding: 5rem 1rem 15.2rem 1.1rem;
}
.sea-container {
  background: url("/public/assets/image/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 5.62rem;
  line-height: 123%;
  letter-spacing: 0.04em;
  color: #fff;
}
.title-addition {
  padding: 3rem 0 1.4rem 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #fff;
}
.gradient {
  background: linear-gradient(
    90deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(19, 19, 19, 1) 45%,
    rgba(46, 46, 46, 1) 51%
  );
}
.col-text {
  font-family: $font-family;
  width: 26.69rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 3.1rem 0rem 0rem 3rem;
  height: 13.25rem;
}
.col-left {
  background: #101010;
}
.col-center {
  background: #131313;
  //padding: 3rem 3.6rem 0rem 0rem;
}
.col-rigth {
  background: #2e2e2e;
}
.col-left-text {
  width: 18rem;
}
.col-center-text {
  width: 16rem;
}
.col-rigth-text {
  width: 16em;
}
.row-partner {
  padding-top: 150px;
  padding-left: 2rem;
  padding-right: 1rem;
  gap: 9rem;
}
.catalog {
  padding: 13.2rem 0rem 1rem 1rem;
}
.catalog-text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 4rem;
  line-height: 123%;
  letter-spacing: 0.03em;
  color: #101010;
}
.sales-region {
  border-radius: 0.62rem;
  max-width: 80rem;
  min-height: 18.75rem;
  background: url("/public/assets/image/sale-region.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 0rem 0rem 1.2rem;
}
.sales-region-text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 3.12rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 5.9rem 0rem 0rem 4.7rem;
}
.list-sea-container {
  padding: 1rem 0.7rem 0rem 1.2rem;
  gap: 0.6rem;
}
.list-col-conatainer {
  max-width: 26.25rem;
  gap: 1rem;
}
.sea-20 {
  border-radius: 0.62rem;
  max-width: 26.25rem;
  min-height: 11.88rem;
  background: url("/public/assets/image/3.png");
}
.ref-20 {
  border-radius: 0.62rem;
  max-width: 26.25rem;
  min-height: 15.75rem;
  background: url("/public/assets/image/4.png");
}

.sea-10,
.sea-40 {
  border-radius: 0.62rem;
  max-width: 26.25rem;
  min-height: 14.94rem;
}
.sea-45,
.ref-40 {
  border-radius: 0.62rem;
  max-width: 26.25rem;
  min-height: 12.69rem;
}
.sea-10 {
  background: url("/public/assets/image/7.png");
}
.sea-45 {
  background: url("/public/assets/image/8.png");
}
.ref-40 {
  background: url("/public/assets/image/6.png");
}
.sea-40 {
  background: url("/public/assets/image/5.png");
}
.container-category {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 123%;
  color: #fff;
  letter-spacing: 0.05rem;
  margin: 0;
}
.container-weight {
  font-family: $font-family;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 123%;
  color: #fff;
  letter-spacing: 0.1rem;
}
.sea-10-text,
.sea-40-text,
.sea-45-text,
.sea-20-text {
  padding: 2.5rem 0rem 0rem 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.ref-40-text {
  padding: 1.3rem 0rem 0rem 1.9rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.ref-20-text {
  padding: 1.5rem 0rem 0rem 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.row-company {
  padding: 6rem 0rem 0rem 1.3rem;
}
.col-more-company-text {
  padding: 0rem 0rem 0rem 0.8rem;
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #101010;
}
.about-company-text {
  margin-bottom: 2rem;
}
.more-about-company-text {
  font-family: $font-family;
  font-weight: 500;
  font-size: 1rem;
  line-height: 123%;
  color: #b3b3b3;
  text-decoration: none;
}
.mar-0 {
  margin: 0;
}
.heavy-box-girl {
  margin-top: 3rem;
}
.heavy-box-girl-img {
  width: 100%;
}
.row-company-features {
  gap: 3rem;
  background: #2e2e2e;
  min-height: 16.38rem;
}
.col-company-features {
  max-width: 25rem;
  min-height: 12.56rem;
}
.company-features-title {
  padding: 0.5rem 0rem 0rem 0rem;
}
.company-features-title-t {
  font-family: $font-family;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 0rem 0rem 0rem 1rem;
}
.col-company-features-left {
  padding: 0rem 0rem 0rem 1rem;
}
.col-company-features-center {
  padding: 0rem 0rem 0rem 0.5rem;
}
.col-company-features-rigth {
  margin: 0rem 1rem 0rem 0rem;
}
.company-features-text {
  font-family: $font-family;
  font-weight: 300;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;
}
.black-background {
  background: url("/public/assets/image/black fon.png");
  min-height: 64.69rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.pick-up-container-title-cont {
  padding: 5rem 0rem 0rem 1.3rem;
}
.pick-up-container-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 0.1rem;
}
.pick-up-container-text-cont {
  padding: 5rem 5rem 0rem 5.6rem;
}
.pick-up-container-text {
  font-family: $font-family;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 160%;
  color: #fff;
}
.row-container-tile {
  padding: 2.4rem 0rem 0rem 1.1rem;
  gap: 2.6rem;
}
.col-container-tile {
  max-width: 25rem;
  gap: 2.6rem;
}
.container-tile {
  border-radius: 0.62rem;
  min-height: 19.81rem;
  background: #d9d9d9;
  padding: 1rem 0rem 0rem 2.3rem;
}
.container-tile:hover {
  background: #fff;
}
.img-container {
  max-width: 100%;
}
.container-image-caption {
  font-family: $font-family;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
  color: #000;
}
.gray-background {
  background: #f8f8f8;
  padding-bottom: 5rem;
}
.sea-container-title {
  padding: 8rem 0rem 0rem 1.6rem;
}
.block-sea-containers {
  padding: 3.2rem 0rem 0rem 0.4rem;
}
.col-block-sea-containers {
  gap: 1rem;
}
.block-sea-containers-services {
  border-radius: 0.62rem;
  max-width: 18.88rem;
  min-height: 14.56rem;
  background: #34312d;
  position: relative;
}
.block-sea-containers-services-img {
  position: absolute;
  top: 1.6rem;
  right: 1.8rem;
}
.block-sea-containers-services-title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 1.25rem;
  color: #fff;
  padding: 3rem 0rem 0rem 1.6rem;
}
.block-sea-containers-services-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 0.88rem;
  color: #fff;
  line-height: 1.1rem;
  padding: 1rem 3rem 0rem 1.6rem;
}
.block-sea-containers-services-text2 {
  padding: 1rem 1rem 0rem 1.6rem;
}
.block-sea-containers-services-title2 {
  padding: 2rem 0rem 0rem 1.6rem;
}
.block-sea-containers-services-text3 {
  padding: 2rem 1rem 0rem 1.6rem;
}
.col-woman {
  padding: 0rem 0rem 0rem 8rem;
}
.photo-woman-containers {
  max-width: 32rem;
}
.photo-woman-containers-img {
  width: 100%;
}
.text-buy-containers {
  padding: 3rem 0rem 1rem 0rem;
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  color: #4c4c4c;
  line-height: 1.2rem;
}
.advantages-title {
  padding: 9.3rem 0rem 3.1rem 1.4rem;
}
.advantages-left-banner {
  max-width: 52.6rem;
  background: url("/public/assets/image/Rectangle 148.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  border-radius: 0 0.62rem 0.62rem 0;
}
.advantages-center-banner {
  max-width: 48.75rem;
  flex: 1;
  padding: 0rem 2.5rem 0rem 2.5rem;
  gap: 2.5rem;
}
.advantages-rigth-banner {
  max-width: 20.1rem;
  background: url("/public/assets/image/Rectangle 149.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2;
  border-radius: 0.62rem 0 0 0.62rem;
}
.advantages-center-banner-col {
  gap: 2rem;
}
.advantages-center-banner-cell {
  border-radius: 0.62rem;
  width: 20.62rem;
  min-height: 7.5rem;
  background: #f57520;
}

.advantages-center-banner-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 1.12rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1.1rem 0rem 0rem 1.5rem;
}
.advantages-center-banner-text {
  font-family: $font-family;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  padding: 0rem 1.8rem 0rem 1.5rem;
  line-height: 1.2rem;
}
.col-map-title {
  padding: 9.3rem 0rem 0rem 1rem;
}
.map-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 4rem;
  color: #101010;
  letter-spacing: 0.1rem;
}
.map-text {
  font-family: $font-family;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.005rem;
  line-height: 1.3rem;
  color: #000;
  padding: 0.5rem 45rem 0rem 0.2rem;
}
.map {
  padding: 0rem 0rem 0rem 0rem;
}
