@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font-family: "inter", sans-serif;
$color-oranges: #f57520;
$color-gray: #34312d;
$color-white: #fff;
$color-half-black: #101010;
$color-black: #000;
$color-oranges-hover: #a1511d;
$third-family: "Bebas Neue", serif;
@media (max-width: 850px) {
  h1 {
    font-size: calc(2.5rem + 1.5vw) !important;
  }
  h2 {
    font-size: calc(2rem + 1.5vw) !important;
  }
}
